@model QL_BanMayTinh_Main.Models.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal-dialog" role="document">
    <div class="modal-content" style="border-color: lightgray">
        <div class="modal-header">
            <h5 class="modal-title">Đăng ký tài khoản mới</h5>
        </div>
        @if (ViewBag.Success != null)
            {
                <div class="alert alert-success">@ViewBag.Success</div>
                <br />
                <script type="text/javascript">
                    alert('@TempData["alertMessage"]');
                </script>
            }
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">@Html.ValidationSummary(false)</div>
                <br />
            }
        <div class="modal-body">
            @using (Html.BeginForm("Register", "User", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label asp-for="TaiKhoan1" class="control-label"></label>
                    <input asp-for="TaiKhoan1" class="form-control" required />
                    <span asp-validation-for="TaiKhoan1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MatKhau" class="control-label"></label>
                    <input asp-for="MatKhau" type="password" class="form-control" required />
                    <span asp-validation-for="MatKhau" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" required />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" type="email" class="form-control" required />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HoTen" class="control-label"></label>
                    <input asp-for="HoTen" class="form-control" required />
                    <span asp-validation-for="HoTen" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GioiTinh" class="control-label"></label>
                    <select asp-for="GioiTinh" asp-items="@Html.GetEnumSelectList<Gender>()"></select>
                    <span asp-validation-for="GioiTinh" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NgaySinh" class="control-label"></label>
                    <input asp-for="NgaySinh" class="form-control" />
                    <span asp-validation-for="NgaySinh" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sdt" class="control-label"></label>
                    <input asp-for="Sdt" class="form-control" />
                    <span asp-validation-for="Sdt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DiaChi" class="control-label"></label>
                    <input asp-for="DiaChi" class="form-control" />
                    <span asp-validation-for="DiaChi" class="text-danger"></span>
                </div>
                <div class="right-w3l">
                    <input type="submit" class="form-control" value="Đăng ký">
                </div>
            }
        </div>
    </div>
</div>