@model QL_BanMayTinh_Main.EF.Phieunhap

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Xóa thông tin</h2>

<h3>Bạn chắc rằng muốn xóa thông tin phiếu nhập?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaPn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaPn)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.MaNccNavigation.TenNcc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNccNavigation.TenNcc)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.NgayNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayNhap)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> &nbsp&nbsp&nbsp&nbsp
            <button class="btn btn-default" onclick="location.href='@Url.Action("Index")';return false;"><b>Trở lại</b></button>&nbsp&nbsp&nbsp&nbsp
        </div>
    }
</div>